[project]
	description = EC601 project 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sarthak Jagetia (sarthakjagetia)
[access "refs/for/refs/*"]
	read = group user/Sarthak Jagetia (sarthakjagetia)
	push = group user/Sarthak Jagetia (sarthakjagetia)
	label-Code-Review = -2..+2 group user/Sarthak Jagetia (sarthakjagetia)
	label-Verified = -1..+1 group user/Sarthak Jagetia (sarthakjagetia)
	rebase = group user/Sarthak Jagetia (sarthakjagetia)
	removeReviewer = group user/Sarthak Jagetia (sarthakjagetia)
	submit = group user/Sarthak Jagetia (sarthakjagetia)
[access "refs/heads/*"]
	read = group user/Sarthak Jagetia (sarthakjagetia)
	create = group user/Sarthak Jagetia (sarthakjagetia)
	push = +force group user/Sarthak Jagetia (sarthakjagetia)
	pushMerge = group user/Sarthak Jagetia (sarthakjagetia)
[access "refs/tags/*"]
	push = group user/Sarthak Jagetia (sarthakjagetia)
	push = +force group user/Sarthak Jagetia (sarthakjagetia)
